body{
	display: block;
	background-image: url(fonforest.jpeg);
}
.head{
	color: red;
	font-size: 60px;
}
.text{
	color: white;
	font-size: 40px;
}
.firstimg{
	width: 550px;
	height: 450px;
	margin: 35px;
}
.opasno{
	font-size: 45px;
	width: 1000px;
	height: 100px;
	background-color: white;
	color: red;
}